<% if user_signed_in? %>
Signed in as <%= current_user.name %>
<% else %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
<ul class="nav nav-pills">
  <li class="active">
    <a href="/">Trending songs</a>
  </li>
  <li><a href="/new">Posted recently</a></li>
</ul>

<% @submissions.each do |submission| %>
  <%= render :partial => "submission_block", :locals => { :submission => submission } %>
<% end %>