<ul class="nav nav-pills">
  <li class="active">
    <a href="/">Trending songs</a>
  </li>
  <li><a href="/new">Posted recently</a></li>
</ul>

<% @submissions.each do |submission| %>
  <%= render :partial => "submission_block", :locals => { :submission => submission } %>
<% end %>