<!DOCTYPE html>
<html>
<head>
  <title>Goyaka Radios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div id="header-wrapper">
	<div id="header">
		<div class="logo-block">
			<h1>
				<a href="/" title="Goyaka Radios" id="logo">
					<img src="/assets/logo.png">
					Goyaka Radios
				</a>
			</h1>

		</div>
	</div>
</div>
<div id="content">
    <div id="content-inner">
       <%= yield %>
    </div>
</div>
</body>
</html>
